<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>hello world</h1>

    <div class="container">

    </div>

    <button onclick="addd()">add name</button>
    <script>

  const container = document.querySelector(".container")

    const makeApi =()=>{
        fetch("/data", { method: "GET" })
          .then((res) => res.json())
          .then((res) => {
            
            res.map((obj)=>{
                const ele = document.createElement("div")
                ele.innerHTML = `Name = ${obj.name}, roll = ${obj.roll}`
                container.append(ele)
            })
            
          })
          .catch((err) => {
            console.log(err);
          })
    }         

      const addd = () => {
        fetch("/dataa")
          .then((res) => res.json())
          .then((res) => {
                const ele = document.createElement("div")
                ele.innerHTML = `Name = ${res.name}, roll = ${res.roll}`
                container.append(ele)
          })
          .catch((err) => {
            console.log(err);
          })
      };

makeApi()
    </script>
  </body>
</html>
